.about {
  background: url(../../assets/img/codingclass.jpg);
  background-position: center;
  background-size: cover;
}

.about__container {
  background: rgba(38, 77, 148, 0.808);
  color: #fff;
}

.about__text {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
}
.about__text h1 {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.about__container h1 span {
  color: var(--vivid-cyan-blue);
}

.about__text p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.about__text h1,
.about__text p {
  animation: fadeIn 1s;
}
