.card {
  width: 380px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  cursor: pointer;
}

.card__text {
  padding: 30px 20px;
}

.card__text h2,
p,
a {
  margin-bottom: 2rem;
}

.card__text p {
  word-spacing: 5px;
  line-height: 1.4;
}
.card__text a {
  text-decoration: none;
  color: var(--cyan-blue);
}
.card__text a:hover {
  color: #000;
}

.card__text a span {
  margin-right: 0.5rem;
}
