.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 5%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  z-index: 50;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
